/* 
 Google Fonts
 font-family: 'Inter', sans-serif;
 color: #043873
 color: #FFE492
 color: #4F9CF9
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* 
 Basic css 
*/
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #212529;
    background-color: #A7CEFC;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.theme-button-two {
    background-color: #FFE492;
    color: #043873;
 
}
.theme-button-two:hover {
    background-color: #fad976;
}
.theme-button {
    background-color: #4F9CF9;
    color: #fff;
 
}
.theme-button img {
    margin-left: 10px;
}
.theme-button:hover {
    background-color: #3f93fa;
    color: #fff;
}
.theme-button,
.theme-button-two {
   text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    padding: 16px 24px;
    transition: ease-in-out .5s;
}

.theme-text h3 {
    font-size: 68px;
    margin-bottom: 15px;
}
.theme-text h3 span {
    position: relative;
    z-index: 2;
}
.theme-text h3 span::after {
    position: absolute;
    content: "";
    width: 100%;
    height: 60px;
    left: 0;
    bottom: 0;
    background-image: url("../img/shape.png");
    z-index: -1;
    background-size: cover;
    background-repeat: no-repeat;
}
.theme-button-three {
    background-color: #fff;
    border: 1px solid #FFE492;
    text-decoration: none;
    padding: 16px 40px;
    color: inherit;
    transition: ease-in-out .5s;
    font-weight: 700;
    margin-top: 25px;
    display: inline-block;

}
.theme-button-three:hover{
    color: inherit;
}

/* 
 Header area
*/
.header-area {
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link {
    padding: 16px 24px;
}
.header-area .nav-link,
.header-area .nav-link.active {
    color: #fff;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
/* 
 Hero area css
*/
.hero-area {
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    padding: 140px 0;
}
.hero-text h2 {
    font-size: 52px;
    font-weight: 700;
    color: #fff;
}
.hero-text p {
    font-size: 18px;
    color: #fff;
    margin: 40px 0;
}


/* 
 Management area css
*/
.management-area {
    background-color: #fff;
    padding: 140px 0;
}
.work-management {
    margin-top: 100px;
}


/* 
 Extension area css
*/
.extension-area {
    padding: 140px 0;
    background-color: #043873;
    color: #fff;
}

/* 
 Customize area css
*/
.customize-area {
    padding: 140px 0;
    background-color: #fff;
}
/* 
 Pricing area css
*/
.pricing-area {
    padding: 140px 0;
    background-color: #fff;
}

.pricing-area .theme-text {
    margin-bottom: 60px;
}
.owl-stage {
    display: flex;
    align-items: center;
}
.single-pricing {
    border: 1px solid #FFE492;
    border-radius: 10px;
    padding: 40px 44px;
}
.single-pricing h4 {
    font-size: 24px;
    font-weight: 500;
 }
 .single-pricing h2 {
    font-size: 36px;
    font-weight: 700;
    margin: 25px 0;
 }
 .single-pricing ul {
    margin: 25px 0;
    padding: 0;
 }
 .single-pricing ul li {
    list-style: none;
    margin-bottom: 28px;
    display: flex;
    align-items: center;
 }
 .single-pricing ul li img {
    width: 21px !important;
    height: 21px !important;
    margin-right: 15px;
 }
 .single-pricing ul li:last-child {
    margin-bottom: 0;
 }

.special-pricing {
    background-color: #043873;
    color: #fff;
    padding: 80px 44px;
}
.all-pricing .owl-dots button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #043873;
    margin: 0 5px;
}

.all-pricing .owl-dots button.active {
    background-color: #1b73d7;
}


.all-pricing .owl-dots {
    text-align: center;
    margin-top: 50px;
}
.testimonial-area .owl-dots button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #043873;
    margin: 0 5px;
}

.all-pricing .owl-dots button.active {
    background-color: #1b73d7;
}


/* 
 your work area
*/
.your-work-area {
    padding: 140px 0;
    background-color: #043873;
    text-align: center;
    color: #fff;
    position: relative;
}
.your-work-area::after {
        position: absolute;
        content: "";
        background-image: url("../img/background-shap.png");
        background-position: center;
        width: 100%;
        left: 0;
        bottom: 0;
        /* z-index: -1; */
        background-size: contain;
        background-repeat: no-repeat;
        top: 0;
        background-position: left;
}
.your-work-area p {
    margin-bottom: 45px;
}

.your-work-area .theme-text h3 span::after {
    background-image: url("../img/shape-2.png");
    bottom: -45px;
    background-size:contain;
}

.your-work-area .theme-button {
    display: inline;
    text-align: center;
}

/* 
 Your data area css
*/
.your-data-area {
    background-color: #fff;

    padding: 140px 0

}


/* 
 Sponsors area css
*/
.sponsors-area {
    padding: 140px 0;
}
.sponsors-area .theme-text {
    margin-bottom: 100px;
}


.single-sponsors img {
    height: 55px;
}

/* 
 Apps management area css
*/

.apps-area {
    color: #fff;
    padding: 140px 0;
    background-image: url('../img/hero-bg.png');
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
}

/* 
 Testimonial area css
*/

.testimonial-area {
    color: #212529;
    padding: 140px 0;
}

.single-testimonial {
    background-color: #448FF5;
    box-shadow: 15px 10px 50px rgba(0,0,0, 0.1);
    border-radius: 10px;
    padding: 50px 30px;
    color: #212529;
}
.testimonial-area .theme-text {
    margin-bottom: 60px;
}
.testimonial-txt {
    border-bottom: 1px solid #ffffff;
}
.testimonial-txt img {
    margin-bottom: 40px;
    height: 60px;
    width: auto !important;
}
.testimonial-txt p {
    margin-bottom: 25px;
    color: #fff;
}

.testimonial-author {
    margin-top: 40px;
}

.testimonial-author {
    display: flex;
}

.author-img {
    margin-right: 25px;
}
.author-txt {
    color: #fff;
}

.author-txt h3 {
    font-size: 24px;
    color: #043873;

}

.author-txt p {
    margin-bottom: 0;

}
.testimonial-area .owl-nav {
    display: none;
}

.testimonial-area .owl-dots {
    text-align: center;
    margin-top: 50px;
}
.testimonial-area .owl-dots button {
    height: 15px;
    width: 15px;
    border-radius: 50%;
    background-color: #043873;
    margin: 0 5px;
}

.testimonial-area .owl-dots button.active {
    background-color: #1b73d7;
}

/* 
 Trial area css
*/
.trial-area {
    padding: 140px 0;
    background-color: #043873;
}
.trial-area .theme-button {
    margin: 20px 0;
}

.trial-text h3 {
    color: #fff;
    font-size: 68px
}
.trial-text p {
    color: #fff;
    font-size: 24px
}
.trial-img {
    margin-top: 40px;
}

.trial-img a {
    margin: 0 20px;
    text-decoration: none;
}


/* 
 Footer area css
*/
.footer-area {
    background-color: #043873;
    padding-top: 140px;
    border-top: 1px solid #2E4E73;
}

.footer-top {
    color: #fff;
    border-bottom: 1px solid #2E4E73;
    padding-bottom: 70px;
}
.footer-about {
    
}
.footer-about img {
    margin-bottom: 15px;
}

.footer-link h3 {
    font-size: 18px;
    font-weight: 700;
    color: #fff;
    margin-bottom: 15px;

}
.footer-link ul {
    margin: 0;
    padding: 0;
}
.footer-link ul li {
    list-style: none;
}
.footer-link a {
    font-size: 16px;
    color: #fff;
    text-decoration: none;
    transition: color .3s;
    padding-bottom: 10px;
    display: inline-block;
}
.footer-link a:hover {
    color: #c8c8c8;
}

.footer-contact h3 {
    margin-bottom: 15px;
    font-size: 28px;
}

.footer-bottom {
    
    padding: 32px 0;
}
.footer-lan .dropdown .dropdown-toggle{
    text-decoration: none;
    color: #fff !important;
}
.dropdown-toggle i {
    margin-right: 10px;
}
.footer-social {
    text-align: right;
}
.footer-social a {
    text-decoration: none;
    color: #fff;
    display: inline-block;
    margin: 0 16px;
}




/* 
 Responsive css
*/

@media ( max-width: 1199px ) {
   .theme-button, .theme-button-two {
    font-size: 14px;
    padding: 15px 10px;
   }
}



@media (max-width: 991px ) {

    /* Default css */
    .theme-text h3 {
        font-size: 45px;
    }
    .theme-button-two {
        margin-bottom: 20px;
     }
     .theme-button-two, .theme-button {
        width: 100%;
     }
 
     .header-area .nav-link {
         position: relative;
     }
     .header-area .nav-link::after {
         position: absolute;
         top: 50%;
         right: 12px;
         transform: translateY(-50%);
         
     }

     /* hero area css */
     .hero-area {
        text-align: center;
        padding: 80px 0;
    }
    .hero-area h3 {
        font-size: 36px;

    }
    .hero-area .theme-button {
        margin-bottom: 50px;
    }

    /* work area css */
    .management-area {
        padding: 80px 0;
    }
    .management-area .theme-button {
        margin-bottom: 50px;
    }
    .work-management {
        margin-top: 60px;
    }
    
    /* Extension area */
    .extension-area {
        padding: 80px 0;
        text-align: center;
    }

    .extension-area .theme-button {
        margin: 50px 0;
    }

    /* Customize area */
    .customize-area {
        padding: 80px 0;
        text-align: center;
    }

    .extension-area .theme-button {
        margin: 50px 0;
    }

    /* pricing area */
    .pricing-area {
        padding: 80px 0;
    }

    /* your data area */
    .your-data-area {
        padding: 80px 0;
    }

    .your-data-area {
        text-align: center;
    }
    .your-data-area .theme-button-two, .theme-button {
        width: inherit;
    }

    /* sponsor area */
    .sponsors-area {
        padding-top: 80px;
    }
    .sponsors-area {
        padding-bottom: 30px;
    }

    .single-sponsors img {
        margin-bottom: 50px;
    }

    /* apps area */
    .apps-area {
        padding-top: 80px;
    }

    .apps-image {
        margin-bottom: 50px;
    }

    .apps-area .theme-text {
        text-align: center;
    }
    /* testomonial area */
    .trial-area {
        padding: 80px 0;
    }
    .trial-text h3 {
        font-size: 36px;
    }
    .trial-text p {
        font-size: 18px;
    }
    .trial-img a {
        margin: 0;
        margin-right: 40px;
    }

    /* footer area */
    .footer-top {
        text-align: center;
        border-bottom: none;
    }
    
    .footer-about {
        margin-bottom: 40px;
    }
    .footer-lan {
        text-align: center;
        padding-bottom: 20px;
    }
    .footer-copyright {
        padding-bottom: 20px;
    }
    .footer-link {
        margin: 40px 0;
    }
    .footer-contact {
        margin-top: 40px;
    }
    .footer-social {
        padding-top: 20px;
        text-align: center;
        border-top: 1px solid #46688f;
    }
}