/* 
 Google Fonts
 font-family: 'Inter', sans-serif;
 color: #043873
 color: #FFE492
 color: #4F9CF9
*/

@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;500;700&display=swap');

/* 
 Basic css 
*/
body {
    font-family: 'Inter', sans-serif;
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
    color: #212529;
    background-color: #A7CEFC;
}

h1,
h2,
h3,
h4 {
    font-family: 'Inter', sans-serif;
    font-weight: 700;
}
.theme-button-two {
    background-color: #FFE492;
    color: #043873;
 
}
.theme-button-two:hover {
    background-color: #fad976;
}
.theme-button {
    background-color: #4F9CF9;
    color: #fff;
 
}
.theme-button img {
    margin-left: 10px;
}
.theme-button:hover {
    background-color: #3f93fa;
    color: #fff;
}
.theme-button,
.theme-button-two {
   text-decoration: none;
    display: inline-block;
    border-radius: 8px;
    padding: 16px 24px;
    transition: ease-in-out .5s;
}

/* 
 Header area
*/
.header-area {
    background-color: #043873;
    padding: 16px 0;
}
.header-area .nav-link {
    padding: 16px 24px;
}
.header-area .nav-link,
.header-area .nav-link.active {
    color: #fff;
}
.navbar-toggler {
    border: 0;
}
.navbar-toggler:focus {
    box-shadow: none;
}
@media (max-width: 991px) {
    .theme-button-two {
       margin-bottom: 20px;
    }
    .theme-button-two, .theme-button {
       width: 100%;
    }

    .header-area .nav-link {
        position: relative;
    }
    .header-area .nav-link::after {
        position: absolute;
        top: 50%;
        right: 12px;
        transform: translateY(-50%);
        
    }

    
}